# 6장 튜플과 딕셔너리

In [1]:

mileage={'kim99':12000,'lee66':11000,'han55':3000,'hong77':5000,'hwang33':18000}
print(mileage)

{'kim99': 12000, 'lee66': 11000, 'han55': 3000, 'hong77': 5000, 'hwang33': 18000}

In [29]:
#1
sum=0
for key in mileage:
    sum += 1
    print('{}.아이디:{},마일리지:{}점'.format(sum,key,mileage[key]))

1.아이디:kim99,마일리지:12000점
2.아이디:lee66,마일리지:11000점
3.아이디:han55,마일리지:3000점
4.아이디:hong77,마일리지:5000점
5.아이디:hwang33,마일리지:18000점

In [68]:
#3

mileage['jang88'] = 7000

print('전체 딕셔너리 : ', mileage)

print('jang88님의 마일리지(%d점)가 추가 되었습니다.' % (mileage['jang88']))

전체 딕셔너리 :  {'kim99': 12000, 'lee66': 11000, 'han55': 3000, 'hong77': 5000, 'hwang33': 18000, 'jang88': 7000}
jang88님의 마일리지(7000점)가 추가 되었습니다.

In [ ]:
temp = {'mon':25.5, 'tue':28.3, 'wed':33.2, 'thur':32.1, 'fri':17.3,'sat':35.3, 'sun':33.3}
print(temp)

In [130]:
#5
temp = {'mon':25.5, 'tue':28.3, 'wed':33.2, 'thur':32.1, 'fri':17.3,'sat':35.3, 'sun':33.3}

print('-'*50)
print('  mon  tue   wed   thur   fri   sat   sun')
print('-'*50)

for key in temp.values():
    print('',key, end=' ')

print('\n','-'*49)

--------------------------------------------------
  mon  tue   wed   thur   fri   sat   sun
--------------------------------------------------
 25.5  28.3  33.2  32.1  17.3  35.3  33.3
 -------------------------------------------------

In [12]:
#7

max=[]
for key,values in temp.items():
    if values > 30:
        max.append(key)
        
print('기온이 30˚이상인 요일:', end='')
for x in max:
    print(x, end='')

기온이 30˚이상인 요일:wedthursatsun

# 7장 함수

In [145]:
#1
def f1(a):
    a+=10
    print(a,end=',')
a=10
f1(a)
print(a)

#답 : 나

20,10

In [50]:
#3

def sosu(n):
    print('2~ %d까지의 정수 중 소수 : ' %n, end='')
    for i in range(2, n+1):
        check =0
        for j in range(2,i):
            if i % j == 0:
                check =1
                break
        if check ==0:
            print(i,end=' ')
num = int(input('n값을 입력해 주세요: '))
sosu(num)

n값을 입력해 주세요: 20
2~ 20까지의 정수 중 소수 : 2 3 5 7 11 13 17 19

In [147]:
#5

def numSquare(num):
    list_new =[]
    for i in range(1, num+1):
        list_new.append(i**2)
        
    return list_new

n=5
result = numSquare(n)
print(result)

[1, 4, 9, 16, 25]

In [ ]:
#7
print('※ 비밀번호는 10자리 이상, 영문 대문자를 포함하여야 합니다.')

while True:
    password = input('비밀번호 : ')
    same = input('비밀번호 확인 : ')
    
    if len(password) < 10 or password.isupper() == False:
        print('비밀번호가 잘못되었습니다! 다시 입력해 주세요')
    elif len(password) >= 10 and password.isupper() == True and password != same:
        print('비밀번호와 비밀번호 확인이 서로 다릅니다! 다시 입력해 주세요!')
    else:
        print('유효한 비밀번호입니다~~~')
        break

※ 비밀번호는 10자리 이상, 영문 대문자를 포함하여야 합니다.