# Chapter 06.Tuple 과 Dictionary

In [ ]:
"""
tuple()
list[]

*빈튜플 만들기
t=tuple() 또는 t=()

*원소가 하나인 튜플 만들기
t=(1,) 또는 t=1,                 #콤마가 중요


"""

In [8]:
#6-1
menu=('coffee','milk','tea','cider')

print(menu)
print(menu[0])
print(menu[2])
print(menu[0:3])

menu[1]='cola'

('coffee', 'milk', 'tea', 'cider')
coffee
tea
('coffee', 'milk', 'tea')

TypeError: 'tuple' object does not support item assignment

In [7]:
#6-2

tuple1 = ('apple','banana','cherry')
tuple2 = ('orange','melon','strawberry')

tuple3 = tuple1 + tuple2
print(tuple3)
print(len(tuple3))
for x in tuple1:
    print(x)
    
del tuple1

('apple', 'banana', 'cherry', 'orange', 'melon', 'strawberry')
6
apple
banana
cherry

In [6]:
#Tuple 홀수 만들기
# odds = (1,3,5,7,9)
odds = tuple(range(1,10,2))
print(odds)

(1, 3, 5, 7, 9)

In [9]:
#Tuple 제곱수 만들기
square = tuple(i*i for i in range(1,6))
print(square)

(1, 4, 9, 16, 25)

In [12]:
#Tuple 홀수 제곱수 만들기(1,9,25,49,81)
odd_squares = tuple(i*i for i in range(1,10) if i%2 ==1)
print(odd_squares)

(1, 9, 25, 49, 81)

## sequence 객체

In [1]:
#특정 값이 있는지 확인하기
a =[0,10,20,30,40,50,60]
print(30 in a)
print(78 in a)
print('-'*30)
print(100 not in a)
print(10 not in a)

"p" in 'hello, python'
1 in range(10)
43 in (28,43,50)

True
False
------------------------------
True
False

True

In [4]:
#시퀀스 객체 연결하기
a = [0,10,20,30]
b=[9,8,7,6]
print(a+b)

a = (0,10,20,30)
b=(9,8,7,6)
print(a+b)

print((1,2,3)+(4,5,6))
print('헬로'+' '+'월드')

[0, 10, 20, 30, 9, 8, 7, 6]
(0, 10, 20, 30, 9, 8, 7, 6)
(1, 2, 3, 4, 5, 6)
헬로 월드

In [5]:
#range자체로는 연결불가 => tuple로 만들기
range(1,10) + range(11,20)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [8]:
tuple(range(1,10)) + tuple(range(11,20))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [12]:
#문자열과 숫자 연결
'python'+str(3)
#'python' + '3'

'python3'

In [17]:
#시퀀스 객체 반복하기
print([1,2,3]*3)
print(3*[1,2,3])
print((3*(1,2,3)))
print('python '*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
(1, 2, 3, 1, 2, 3, 1, 2, 3)
python python python

In [1]:
range(1,5)*3

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [2]:
tuple(range(1,5))*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [3]:
a=(11,22,33,44,55,66,77,88,99,)

a[0:9:4]
a[::4]

(11, 55, 99)

## Dictionary

In [ ]:

"""
#Dictionary 
딕셔너리 - {키:값1,키2:값2}

{}
dict()
"""

In [6]:
#6-3
members={'name':'안지영','age':30,'email':'jiyoung@korea.com'}

print(members)
print(members['name'])
print(members['age'])

print('길이 : %d' % len(members))

{'name': '안지영', 'age': 30, 'email': 'jiyoung@korea.com'}
안지영
30
길이 : 3

In [23]:
#6-4
name = '안지영'
scores ={'kor':95, 'eng':85, 'math':90, 'science':80}
print(scores)


scores['kor']=70
print(scores['kor'])

scores['music'] =100
print(scores)

del scores['science']
print(scores)

print('이름 :%s'% name)
print('국어 : %d'% scores['kor'])
print('영어 : %d'% scores['eng'])
print('수학 : %d'% scores['math'])

{'kor': 95, 'eng': 85, 'math': 90, 'science': 80}
70
{'kor': 70, 'eng': 85, 'math': 90, 'science': 80, 'music': 100}
{'kor': 70, 'eng': 85, 'math': 90, 'music': 100}
이름 :안지영
국어 : 70
영어 : 85
수학 : 90

In [17]:
#6-5
phones ={'note8':2017, 'S9':2018, 'note10':2019, 's20':2020}
print(phones)

for key in phones:
    print('%s => %s'% (key,phones[key]))
print(len(phones))

{'note8': 2017, 'S9': 2018, 'note10': 2019, 's20': 2020}
note8 => 2017
S9 => 2018
note10 => 2019
s20 => 2020
4

In [22]:
## 집합(set)
fruits ={'strawberry','orane','grape','orane','pineapple','cherry'}
fruits

{'cherry', 'grape', 'orane', 'pineapple', 'strawberry'}

In [ ]:
#6-1

In [ ]:
#6-1

In [ ]:
#6-1

In [ ]:
#6-1

In [ ]:
#6-1